<main>
  <div #canvasContainer class="renderer-container"></div>
  <section id="main-menu">
    <div id="logo-and-span">
      <app-logo-effects></app-logo-effects>
      @if(!isMobile) {
      <div id="span-phrases">
        <span>{{
          "THEMES.GAMES.MINECRAFT.PHRASES." + phrase | translate
        }}</span>
      </div>
      }
    </div>
    <div id="action-buttons">
      <button class="side-button" (click)="playClickSound(); openLangsDialog()">
        <span
          ><mat-icon style="font-family: Material Icons"
            >language</mat-icon
          ></span
        >
      </button>
      <a routerLink="/about-me" class="router-link">
        <button (click)="playClickSound()">
          <span>{{
            "THEMES.GAMES.MINECRAFT.INTRO-PAGE.ABOUT-ME" | translate
          }}</span>
        </button>
      </a>
      <a routerLink="/projects" class="router-link">
        <button (click)="playClickSound()">
          <span>{{
            "THEMES.GAMES.MINECRAFT.INTRO-PAGE.PROJECTS" | translate
          }}</span>
        </button>
      </a>
      <a routerLink="/contact-me" class="router-link">
        <button (click)="playClickSound()">
          <span>{{
            "THEMES.GAMES.MINECRAFT.INTRO-PAGE.CONTACT-ME" | translate
          }}</span>
        </button>
      </a>
      <button class="half-button" (click)="playClickSound(); quitGame()">
        <span>{{
          "THEMES.GAMES.MINECRAFT.INTRO-PAGE.QUIT-GAME" | translate
        }}</span>
      </button>
      <button
        class="half-button"
        (click)="playClickSound(); openThemesDialog()"
      >
        <span>{{
          "THEMES.GAMES.MINECRAFT.INTRO-PAGE.OPTIONS" | translate
        }}</span>
      </button>
      <button
        class="side-button"
        (click)="playClickSound(); openSoundboardDialog()"
      >
        <span
          ><mat-icon style="font-family: Material Icons"
            >headphones</mat-icon
          ></span
        >
      </button>
    </div>
  </section>
  // pointer-events: none;
  <div class="bottom-text" style="pointer-events: none">
    <span>Minecraft 1.20.2</span>
  </div>
  <div class="bottom-text">
    <a target="_blank" href="https://www.minecraft.net/pt-br">
      <span
        >{{ ("THEMES.GAMES.COPYRIGHT" | translate) + "Minecraft" }}
      </span></a
    >
  </div>
</main>
