<main>
  <div #canvasContainer class="renderer-container"></div>
  <section id="main-menu">
    <div id="logo-and-span">
      <app-logo-effects></app-logo-effects>
      <div id="span-phrases">
        <span>{{
          "THEMES.GAMES.MINECRAFT.PHRASES." + phrase | translate
        }}</span>
      </div>
    </div>
    <div id="action-buttons">
      <button class="side-button" (click)="playClickSound()">
        <span
          ><mat-icon style="font-family: Material Icons"
            >language</mat-icon
          ></span
        >
      </button>
      <a routerLink="/about-me" class="router-link">
        <button (click)="playClickSound()"><span>About Me</span></button>
      </a>
      <a routerLink="/projects" class="router-link">
        <button (click)="playClickSound()"><span>Projects</span></button>
      </a>
      <a routerLink="/contact-me" class="router-link">
        <button (click)="playClickSound()"><span>Contact Me</span></button>
      </a>
      <button class="half-button" (click)="playClickSound(); quitGame()">
        <span>Quit Game</span>
      </button>
      <button class="half-button" (click)="playClickSound()">
        <span>Options...</span>
      </button>
      <button class="side-button" (click)="playClickSound()">
        <span
          ><mat-icon style="font-family: Material Icons"
            >headphones</mat-icon
          ></span
        >
      </button>
    </div>
  </section>
  <div class="bottom-text"><span>Minecraft 1.20.2</span></div>
  <div class="bottom-text">
    <span>Copyright Felpex. Do not distribute!. </span>
  </div>
</main>
