@if(data.dialogType === 'Themes') {
<div id="minecraft-dialog">
  <h2 mat-dialog-title>
    {{ "THEMES.GAMES.MINECRAFT.INTRO-PAGE.OPTIONS" | translate }}
  </h2>

  <mat-dialog-content>
    <mat-accordion>
      <div class="expansion-panel-container">
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header (click)="playClickSound()">
            <mat-panel-title class="expansion-panel-title">
              <div class="expansion-panel-top-and-left-border"></div>
              <div class="expansion-panel-bottom-and-right-border"></div>
              <span>{{
                "DIALOG-THEMES.VIDEO-GAMES" | translate
              }}</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-minecraft-dialog-games></app-minecraft-dialog-games>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel-container">
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header (click)="playClickSound()">
            <mat-panel-title class="expansion-panel-title">
              <div class="expansion-panel-top-and-left-border"></div>
              <div class="expansion-panel-bottom-and-right-border"></div>
              <span>{{ "THEMES.Colors.COLORS" | translate }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-minecraft-dialog-colors></app-minecraft-dialog-colors>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions class="minecraft-dialog-actions">
    <button
      class="minecraft-dialog-actions-button"
      mat-dialog-close
      cdkFocusInitial
      (click)="playClickSound()"
    >
      <div class="button-main-black-border"></div>
      <div class="button-top-and-left-border"></div>
      <div class="button-bottom-and-right-border"></div>
      <span>{{ "DIALOG-THEMES.CLOSE" | translate }}</span>
    </button>
  </mat-dialog-actions>
</div>
} @if(data.dialogType === 'Langs') {
<div id="minecraft-dialog">
  <h2 mat-dialog-title>{{ "DIALOG-LANGS.CHANGE-LANG-LOW" | translate }}</h2>
  <mat-dialog-content>
    <mat-accordion>
      <div class="expansion-panel-container">
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header (click)="playClickSound()">
            <mat-panel-title class="expansion-panel-title">
              <div class="expansion-panel-top-and-left-border"></div>
              <div class="expansion-panel-bottom-and-right-border"></div>
              <span>{{ "DIALOG-LANGS.LANGUAGES" | translate }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-minecraft-dialog-langs></app-minecraft-dialog-langs>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions class="minecraft-dialog-actions">
    <button
      class="minecraft-dialog-actions-button"
      mat-dialog-close
      cdkFocusInitial
      (click)="playClickSound()"
    >
      <div class="button-main-black-border"></div>
      <div class="button-top-and-left-border"></div>
      <div class="button-bottom-and-right-border"></div>
      <span>{{ "DIALOG-LANGS.CLOSE" | translate }}</span>
    </button>
  </mat-dialog-actions>
</div>
} @if(data.dialogType === 'Soundboard') {
<div id="minecraft-dialog">
  <h2 mat-dialog-title class="minecraft-dialog-soundboard-title">
    {{ "SOUNDBOARD.SOUNDBOARD-LOW" | translate }}
  </h2>

  <mat-dialog-content>
    <app-minecraft-dialog-soundboard></app-minecraft-dialog-soundboard>
  </mat-dialog-content>

  <mat-dialog-actions class="minecraft-dialog-actions">
    <button
      class="minecraft-dialog-actions-button"
      mat-dialog-close
      cdkFocusInitial
      (click)="playClickSound()"
    >
      <div class="button-main-black-border"></div>
      <div class="button-top-and-left-border"></div>
      <div class="button-bottom-and-right-border"></div>
      <span>Close</span>
    </button>
  </mat-dialog-actions>
</div>
}
