<div
  id="show-soundboard-button-container"
  [@getUp_return]="showSoundboard ? 'getUp' : 'return'"
>
  <button
    (click)="
      showSoundboard = !showSoundboard;
      playClickSound(getNameOfActualThemeFromLocalStorage.name)
    "
    [class.open]="showSoundboard"
    mat-mini-fab
    aria-label="Click to appear the soundboard, so you can configure the audio."
  >
    <mat-icon
      id="show-soundboard-button-arrow"
      style="font-family: Material Icons"
      >keyboard_arrow_down</mat-icon
    >
  </button>
</div>

<app-soundboard [showSoundboard]="showSoundboard"></app-soundboard>
