.content-container-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  header {
    justify-self: center;
  }
  .content-container-first-paragraph {
    text-align: justify;
    max-width: 820px;
  }
}
