<mat-toolbar id="navBar">
  <div id="navBar-container">
    <div id="navBar-logoAndButtons">
      <div class="navBar-buttons-container">
        <button
          mat-mini-fab
          aria-label="Button to show the menu"
          (click)="
            toggleMobileNavMenu();
            playClickSound(getNameOfActualThemeFromLocalStorage.name)
          "
        >
          <mat-icon class="menuButton-icon">menu</mat-icon>
        </button>
      </div>

      <!-- change the "Felpex" logo when change theme -->
      @if(getTypeOfActualThemeFromLocalStorage === "Games") {
      <app-logo-effects></app-logo-effects>
      } @else {
      <h1 id="navBar-logo">Felpex</h1>
      }

      <div class="navBar-buttons-container">
        <button
          mat-mini-fab
          aria-label="Button to show the soundboard"
          (click)="
            toggleMobileSoundboardMenu();
            playClickSound(getNameOfActualThemeFromLocalStorage.name)
          "
        >
          <mat-icon class="menuButton-icon">headphones</mat-icon>
        </button>
      </div>
    </div>

    <mat-list id="navBar-list">
      <a [routerLink]="['/home']">
        <mat-list-item
          [class]="
            currentRoute === '/home'
              ? 'navBar-list-item actualRouter'
              : 'navBar-list-item'
          "
          >{{ "NAV-BAR-LIST.HOME" | translate }}</mat-list-item
        ></a
      >
      <a [routerLink]="['/about-me']">
        <mat-list-item
          [class]="
            currentRoute === '/about-me'
              ? 'navBar-list-item actualRouter'
              : 'navBar-list-item'
          "
          >{{ "NAV-BAR-LIST.ABOUT" | translate }}</mat-list-item
        ></a
      >
      <a [routerLink]="['/projects']">
        <mat-list-item
          [class]="
            currentRoute === '/projects'
              ? 'navBar-list-item actualRouter'
              : 'navBar-list-item'
          "
          >{{ "NAV-BAR-LIST.PROJECTS" | translate }}</mat-list-item
        ></a
      >
      <a [routerLink]="['/contact-me']">
        <mat-list-item
          [class]="
            currentRoute === '/contact-me'
              ? 'navBar-list-item actualRouter'
              : 'navBar-list-item'
          "
          >{{ "NAV-BAR-LIST.CONTACT" | translate }}</mat-list-item
        ></a
      >
      <mat-list-item class="navBar-list-item"
        ><button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          [matMenuTriggerFor]="theme"
          mat-button
          aria-label="Button that open a menu to change the theme of the page"
        >
          {{ "NAV-BAR-LIST.THEME" | translate }}:
          {{ actualThemeKey | translate }}
        </button>
      </mat-list-item>
      <mat-menu #theme="matMenu">
        <button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          mat-menu-item
          [matMenuTriggerFor]="games"
          class="expandMatMenu"
        >
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage === 'Games' ? 'ON' : ''
            "
            matBadgeOverlap="false"
            >{{ "NAV-BAR-LIST.MENU-GAMES" | translate }}</span
          >
        </button>

        <button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          mat-menu-item
          [matMenuTriggerFor]="color"
          class="expandMatMenu"
        >
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage === 'Colors' ? 'ON' : ''
            "
            matBadgeOverlap="false"
            >{{ "NAV-BAR-LIST.MENU-COLORS" | translate }}</span
          >
        </button>
      </mat-menu>

      <mat-menu #games="matMenu">
        @for (gamesOptions of gamesOptions; track $index) {
        <button
          class="expandMatMenu"
          mat-menu-item
          (click)="
            changeTheme(gamesOptions);
            playClickSound(getNameOfActualThemeFromLocalStorage.name)
          "
          [class]="{
            expandMatMenu:
              getNameOfActualThemeFromLocalStorage.name === gamesOptions.name
          }"
        >
          <span
            [matBadge]="
              getNameOfActualThemeFromLocalStorage.name === gamesOptions.name
                ? 'ON'
                : ''
            "
            matBadgeOverlap="false"
            >{{ gamesOptions.name }}</span
          >
        </button>
        }
      </mat-menu>
      <mat-menu #color="matMenu">
        @for (colorOption of colorsOptions; track $index) {
        <button
          class="expandMatMenu"
          mat-menu-item
          (click)="
            changeTheme(colorOption);
            playClickSound(getNameOfActualThemeFromLocalStorage.name)
          "
          [class]="{
            expandMatMenu:
              getNameOfActualThemeFromLocalStorage.name === colorOption.name
          }"
        >
          <span
            [matBadge]="
              getNameOfActualThemeFromLocalStorage.name === colorOption.name
                ? 'ON'
                : ''
            "
            matBadgeOverlap="false"
            >{{ "THEMES.Colors." + colorOption.name | translate }}</span
          >
        </button>
        }
      </mat-menu>

      <mat-list-item class="navBar-list-item"
        ><button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          [matMenuTriggerFor]="langs"
          mat-button
          aria-label="Button that open a menu to change the lang of the page"
        >
          {{ "NAV-BAR-LIST.LANG" | translate }}
        </button></mat-list-item
      >
      <mat-menu #langs="matMenu">
        @for(lang of AllLangs; track $index) {
        <button
          (click)="
            changeLanguage(lang);
            playClickSound(getNameOfActualThemeFromLocalStorage.name)
          "
          mat-menu-item
        >
          <span
            [matBadge]="currentLang === lang ? 'ON' : ''"
            matBadgeOverlap="false"
            >{{ lang }}</span
          >
        </button>
        }
      </mat-menu>

      <app-social-links style="width: 15%"></app-social-links>
    </mat-list>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
