#contact-me-form {
  display: flex;
  flex-direction: column;

  .subtitle {
    padding: 15px 0px;
  }
  span {
    padding-bottom: 10px;
  }

  #input-message {
    height: 100px;
    resize: none;
  }
}
