#contact-me-container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 700px;
  min-width: 200px;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid;

  #contact-me-form {
    display: flex;
    flex-direction: column;
    flex: 1;

    span {
      padding-bottom: 10px;
    }

    #input-message {
      height: 100px;
      resize: none;
    }
  }

  aside {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;

    span {
      cursor: pointer;

      &:last-of-type {
        margin-bottom: 50px;
      }
    }

    app-social-links {
      position: absolute;
      bottom: 0;
    }
  }
}
@media (max-width: 820px) {
  #contact-me-container {
    flex-direction: column;
    mat-divider {
      display: none;
    }
  }
}
.subtitle {
  padding: 15px 0px;
}
