<form
  action=""
  id="contact-me-form"
  method="get"
  [formGroup]="sendEmailForm"
  (ngSubmit)="sendEmail(formDirective)"
  #formDirective="ngForm"
>
  <h2 class="subtitle">{{ "CONTACT-PAGE.SEND-EMAIL" | translate }}</h2>
  <span>{{ "CONTACT-PAGE.I'LL-ANSWER" | translate }}</span>
  <mat-form-field appearance="fill">
    <mat-label>{{ "CONTACT-PAGE.FORM-INPUT-NAME" | translate }}</mat-label>
    <input
      style="font-weight: 400"
      formControlName="name"
      type="text"
      matInput
      [placeholder]="'CONTACT-PAGE.FORM-INPUT-NAME-PLACEHOLDER' | translate"
    />
    <mat-error>{{
      "CONTACT-PAGE.FORM-INPUT-MINIMUM-ERROR" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="fill"
    [@fadeInDownToUp_height]="
      sendEmailForm.controls['name'].valid ? 'show' : 'hide'
    "
  >
    <mat-label>{{ "CONTACT-PAGE.FORM-INPUT-EMAIL" | translate }}</mat-label>
    <input
      style="font-weight: 400"
      formControlName="email"
      type="email"
      matInput
      [placeholder]="'CONTACT-PAGE.FORM-INPUT-EMAIL-PLACEHOLDER' | translate"
    />
    <mat-error>{{
      "CONTACT-PAGE.FORM-INPUT-EMAIL-ERROR" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="fill"
    [@fadeInDownToUp_height]="
      sendEmailForm.controls['email'].valid &&
      sendEmailForm.controls['name'].valid
        ? 'show'
        : 'hide'
    "
  >
    <mat-label>{{ "CONTACT-PAGE.FORM-INPUT-SUBJECT" | translate }}</mat-label>
    <input
      style="font-weight: 400"
      formControlName="subject"
      maxlength="250"
      matInput
      [placeholder]="'CONTACT-PAGE.FORM-INPUT-SUBJECT-PLACEHOLDER' | translate"
    />
    <mat-error>{{
      "CONTACT-PAGE.FORM-INPUT-MINIMUM-ERROR" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field
    appearance="fill"
    [@fadeInDownToUp_height]="
      sendEmailForm.controls['email'].valid &&
      sendEmailForm.controls['name'].valid &&
      sendEmailForm.controls['subject'].valid
        ? 'show'
        : 'hide'
    "
  >
    <mat-label>{{ "CONTACT-PAGE.FORM-INPUT-TEXTAREA" | translate }}</mat-label>
    <textarea
      style="font-weight: 400"
      formControlName="message"
      matInput
      maxlength="1000"
      [placeholder]="'CONTACT-PAGE.FORM-INPUT-TEXTAREA-PLACEHOLDER' | translate"
      id="input-message"
    ></textarea>
    <mat-error>{{
      "CONTACT-PAGE.FORM-INPUT-MINIMUM-ERROR" | translate
    }}</mat-error>
  </mat-form-field>
  <button
    (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
    mat-flat-button
    type="submit"
    [disabled]="isSending"
    [@fadeInDownToUp_height]="
      sendEmailForm.controls['email'].valid &&
      sendEmailForm.controls['name'].valid &&
      sendEmailForm.controls['subject'].valid &&
      sendEmailForm.controls['message'].valid
        ? 'show'
        : 'hide'
    "
  >
    @if(isSending){
    <mat-spinner diameter="25"></mat-spinner>
    }@else { {{ "CONTACT-PAGE.FORM-SEND" | translate }} }
  </button>
</form>
