<mat-dialog-content id="soundboard-container">
  <div id="side-music-player">
    <div id="side-music-player-title-container">
      <h2 id="side-music-player-title">
        {{
          currentMusicProgress > 0
            ? ("SOUNDBOARD.MUSIC-TITLE"
              | translate: { musicTitle: currentMusicName })
            : ("SOUNDBOARD.SELECT-MUSIC" | translate)
        }}
      </h2>
      <h3 id="side-music-player-subtitle">
        {{
          currentMusicProgress > 0
            ? ("SOUNDBOARD.BY" | translate: { composer: currentMusicComposer })
            : ""
        }}
      </h3>
    </div>
    <div
      id="side-music-player-card-container"
      #cardTarget
      [class.has-track]="selectedTrack()"
    >
      @if (currentMusicProgress > 0) {
        <mat-progress-bar
          id="side-music-player-progress-bar"
          mode="determinate"
          [value]="currentMusicProgress * 100"
        ></mat-progress-bar>
      }
    </div>
    <mat-dialog-actions id="side-music-player-actions">
      <div id="side-music-player-buttons-container">
        <button
          class="side-music-player-button"
          (click)="playClickSound(); previousMusic()"
          (mouseenter)="playMouseEnterOrLeaveSFX()"
        >
          <span class="corner corner-tl"></span>
          <span class="corner corner-tr"></span>
          <span class="corner corner-bl"></span>
          <span class="corner corner-br"></span>
          <mat-icon
            class="side-music-player-button-icon"
            aria-hidden="false"
            aria-label="left arrow icon"
            fontIcon="arrow_left"
          ></mat-icon>
        </button>
        <button
          class="side-music-player-button"
          (click)="playClickSound(); pauseOrResumeMusic()"
          (mouseenter)="playMouseEnterOrLeaveSFX()"
        >
          <span class="corner corner-tl"></span>
          <span class="corner corner-tr"></span>
          <span class="corner corner-bl"></span>
          <span class="corner corner-br"></span>
          <mat-icon
            class="side-music-player-button-icon"
            aria-hidden="false"
            [attr.aria-label]="
              isPlayingMusic ? 'pause icon' : 'play arrow icon'
            "
            [fontIcon]="isPlayingMusic ? 'pause' : 'play_arrow'"
          ></mat-icon>
        </button>
        <button
          class="side-music-player-button"
          (click)="playClickSound(); nextMusic()"
          (mouseenter)="playMouseEnterOrLeaveSFX()"
        >
          <span class="corner corner-tl"></span>
          <span class="corner corner-tr"></span>
          <span class="corner corner-bl"></span>
          <span class="corner corner-br"></span>
          <mat-icon
            class="side-music-player-button-icon"
            aria-hidden="false"
            aria-label="right arrow icon"
            fontIcon="arrow_right"
          ></mat-icon>
        </button>
      </div>
    </mat-dialog-actions>
  </div>
  <div id="song-selection-container">
    <div id="song-selection">
      @for (tw3Music of tw3Musics; track $index) {
        <div
          class="tw3-card-container"
          #cardEl
          (mouseenter)="playMouseEnterOrLeaveSFX()"
          (click)="onSelectTrack(tw3Music, $index, cardEl)"
        >
          <div class="card-content-clip">
            <div class="card-motion-shine"></div>
          </div>
          <div class="card-static-shine left"></div>
          <div class="card-static-shine right"></div>
          <div class="card-border"></div>
          <img
            class="card-img"
            [src]="getCardFileName(tw3Music.musicName)"
            [alt]=""
          />
        </div>
      }
    </div>
    <mat-dialog-actions id="song-selection-up-menu">
      <h1 id="song-selection-up-menu-title">
        {{
          "THEMES.GAMES.THE WITCHER 3.DIALOG-HOME.CARDS-IN-THE-DECK" | translate
        }}
      </h1>
      <button
        id="close-menu-button"
        mat-dialog-close
        (click)="playClickSound()"
        (mouseenter)="playMouseEnterOrLeaveSFX()"
      >
        <span>X</span>
      </button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
