<mat-dialog-content id="soundboard-container">
  <div id="side-music-player"></div>
  <div id="song-selection-container">
    <div id="song-selection">
      @for (tw3Music of tw3Musics; track $index) {
        <div class="tw3-card-container">
          <div class="card-border"></div>
          <img
            class="card-img"
            [src]="getCardFileName(tw3Music.musicName)"
            [alt]=""
          />
          <span class="card-title">{{ tw3Music.musicName }}</span>
          <p class="card-text">
            {{ tw3Music.musicComposer }}
          </p>
        </div>
      }
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div>fechar</div>
</mat-dialog-actions>
<mat-dialog-actions>
  <div>voltar, play, passar</div>
</mat-dialog-actions>
