@if(data.dialogType === 'Themes') {
<div id="main">
  <div class="bottom-corners"></div>
  <h2 mat-dialog-title>CHANGE THEME</h2>
  <mat-dialog-content>
    <mat-accordion class="accordion" multi>
      <mat-expansion-panel class="expansion-panel" (click)="playClickSound()">
        <mat-expansion-panel-header>
          <div [class]="typeOfActualTheme === 'Games' ? 'selected' : ''"></div>
          <mat-panel-title> Video Games </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tw3-dialog-games></app-tw3-dialog-games>
      </mat-expansion-panel>
      <div></div>
      <mat-expansion-panel class="expansion-panel" (click)="playClickSound()">
        <mat-expansion-panel-header>
          <mat-panel-title> Colors </mat-panel-title>
        </mat-expansion-panel-header>
        <app-tw3-dialog-colors></app-tw3-dialog-colors>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions class="tw3-dialog-actions">
    <div class="tw3-dialog-actions-border">
      <div class="tw3-dialog-actions-button-container">
        <button
          class="tw3-dialog-actions-button"
          mat-button
          mat-dialog-close
          cdkFocusInitial
          (click)="playClickSound()"
        >
          Close
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
} @else if (data.dialogType === 'Langs') {
<div id="main">
  <div class="bottom-corners"></div>
  <h2 mat-dialog-title>LANGUAGE</h2>
  <mat-dialog-content>
    <mat-accordion class="accordion" multi>
      <mat-expansion-panel class="expansion-panel" (click)="playClickSound()">
        <mat-expansion-panel-header>
          <mat-panel-title> Languages </mat-panel-title>
          <mat-panel-description> PT-BR or EN-US </mat-panel-description>
        </mat-expansion-panel-header>
        <app-tw3-dialog-langs></app-tw3-dialog-langs>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions class="tw3-dialog-actions">
    <div class="tw3-dialog-actions-border">
      <div class="tw3-dialog-actions-button-container">
        <button
          class="tw3-dialog-actions-button"
          mat-button
          mat-dialog-close
          cdkFocusInitial
          (click)="playClickSound()"
        >
          Close
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
}
