<header>
  <nav id="tw3-nav">
    <app-logo-effects id="special-logo"></app-logo-effects>
    <div class="mobile-buttons-container">
      <button
        mat-mini-fab
        aria-label="Button to show the menu"
        (click)="toggleMobileNavMenu(); playClickSound()"
      >
        <mat-icon class="menuButton-icon">menu</mat-icon>
      </button>
    </div>

    <div id="navigation-container">
      <button class="nav-buttons" (click)="goToPrevious(); playClickSound()">
        <img
          class="arrow-icon"
          src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-nav-button.webp"
          alt=""
        />
        <span class="nav-buttons-text">{{
          "ROUTER-UPPERCASE." +
            allRoutes[(currentIndex - 1 + allRoutes.length) % allRoutes.length]
            | translate
        }}</span>
      </button>
      <h1>{{ "ROUTER-UPPERCASE." + title | translate }}</h1>
      <button class="nav-buttons" (click)="goToNext(); playClickSound()">
        <img
          class="arrow-icon"
          src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-nav-button.webp"
          alt=""
        />
        <span class="nav-buttons-text">{{
          "ROUTER-UPPERCASE." + allRoutes[(currentIndex + 1) % allRoutes.length]
            | translate
        }}</span>
      </button>
    </div>

    <div class="mobile-buttons-container">
      <button
        mat-mini-fab
        aria-label="Button to show the soundboard"
        (click)="toggleMobileSoundboardMenu(); playClickSound()"
      >
        <mat-icon class="menuButton-icon">headphones</mat-icon>
      </button>
    </div>
    <div id="special-buttons-container">
      <button
        class="special-buttons"
        (click)="openThemesDialog(); playClickSound()"
      >
        <img
          class="button-bg"
          src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-buttons-bg.webp"
          alt=""
        />
        <div class="button-content">
          <img
            id="medallion-icon"
            src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-medallion-icon.webp"
            alt=""
          />
          <span>{{ "UPPERCASE.THEMES" | translate }}</span>
        </div>
      </button>
      <button
        class="special-buttons"
        (click)="openLangsDialog(); playClickSound()"
      >
        <img
          class="button-bg"
          src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-buttons-bg.webp"
          alt=""
        />
        <div class="button-content">
          <img
            id="langs-icon"
            src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-langs-icon.webp"
            alt=""
          />
          <span>{{ "UPPERCASE.LANGS" | translate }}</span>
        </div>
      </button>
    </div>
  </nav>
  @if(isMobile) {
  <app-mobile-menu></app-mobile-menu>
  <app-mobile-soundboard></app-mobile-soundboard>
  }
</header>
