<section class="social-links">
  <a
    href="https://www.linkedin.com/in/felpex/"
    target="_blank"
    aria-label="Linkedin Icon"
    ><mat-icon
      class="icons"
      svgIcon="icon-linkedin"
      aria-label="Linkedin Icon"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
  <a href="https://github.com/oFelpex/" target="_blank" aria-label="Github Icon"
    ><mat-icon
      class="icons"
      svgIcon="icon-github"
      aria-label="Github Icon"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
  <a href="https://x.com/Felpex_br" target="_blank" aria-label="Twitter Icon"
    ><mat-icon
      class="icons"
      svgIcon="icon-twitter"
      aria-label="Twitter Icon"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
  <a
    href="https://whatsa.me/5584987095902"
    target="_blank"
    aria-label="Whatsapp Icon"
    ><mat-icon
      class="icons"
      svgIcon="icon-whatsapp"
      aria-label="Whatsapp Icon"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
</section>
