<section class="social-links">
  <a href="https://www.linkedin.com/in/felpex/" target="_blank"
    ><mat-icon
      class="icons"
      svgIcon="icon-linkedin"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
  <a href="https://github.com/oFelpex/" target="_blank"
    ><mat-icon
      class="icons"
      svgIcon="icon-github"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
  <a href="https://x.com/Felpex_br" target="_blank"
    ><mat-icon
      class="icons"
      svgIcon="icon-twitter"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
  <a href="https://whatsa.me/5584987095902" target="_blank"
    ><mat-icon
      class="icons"
      svgIcon="icon-whatsapp"
      [style]="{ color: svgColor }"
    ></mat-icon
  ></a>
</section>
