<section id="social-links">
  <a href="https://www.linkedin.com/in/felpex/" target="_blank"
    ><mat-icon svgIcon="icon-linkedin"></mat-icon
  ></a>
  <a href="https://github.com/oFelpex/" target="_blank"
    ><mat-icon svgIcon="icon-github"></mat-icon
  ></a>
  <a href="https://x.com/Felpex_br" target="_blank"
    ><mat-icon svgIcon="icon-twitter"></mat-icon
  ></a>
  <a href="https://whatsa.me/5584987095902" target="_blank"
    ><mat-icon svgIcon="icon-whatsapp"></mat-icon
  ></a>
</section>
