#tnt-explosion {
  position: fixed;
  z-index: 100;
  background-color: aqua;
}
#tnt-container {
  position: absolute;

  width: 100vw;
  height: 100vh;

  #tnt-top,
  #tnt-front,
  #tnt-bottom {
    z-index: 9;
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: auto;
  }
}
