$top: 70%;

#tnt-explosion {
  position: fixed;
}
#tnts-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  #tnt-top,
  #tnt-front,
  #tnt-bottom {
    position: fixed;
    pointer-events: none;
    top: -10%;
    left: 50%;
    width: 80px;
    height: auto;
  }

  #tnt-front {
    animation: tnt-front-fall 1.2s ease forwards, tnt-scale 4s ease forwards;
    z-index: 9;

    @keyframes tnt-front-fall {
      0% {
        top: -10%;
      }
      100% {
        top: $top;
      }
    }
  }
  #tnt-top {
    animation: tnt-top-fall 1.2s ease forwards, tnt-scale 4s ease forwards;
    z-index: 8;

    @keyframes tnt-top-fall {
      0% {
        top: -10%;
        height: 0px;
      }
      100% {
        height: 16px;
        top: calc($top - 46px);
      }
    }
  }
  #tnt-bottom {
    z-index: 8;
    animation: tnt-bottom-fall 1.2s ease forwards, tnt-scale 4s ease forwards;

    @keyframes tnt-bottom-fall {
      0% {
        top: calc(-10% + 65px);
        height: 40px;
      }
      100% {
        height: 0px;
        top: $top;
      }
    }
  }

  @keyframes tnt-scale {
    0% {
      transform: translate(-50%, -50%) scale(1.1);
      filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
        hue-rotate(236deg) brightness(104%) contrast(103%);
    }
    10% {
      transform: translate(-50%, -50%) scale(1);
      filter: none;
    }
    20% {
      transform: translate(-50%, -50%) scale(1.1);
      filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
        hue-rotate(236deg) brightness(104%) contrast(103%);
    }
    30% {
      transform: translate(-50%, -50%) scale(1);
      filter: none;
    }
    40% {
      transform: translate(-50%, -50%) scale(1.1);
      filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
        hue-rotate(236deg) brightness(104%) contrast(103%);
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
      filter: none;
    }
    60% {
      transform: translate(-50%, -50%) scale(1.1);
      filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
        hue-rotate(236deg) brightness(104%) contrast(103%);
    }
    70% {
      transform: translate(-50%, -50%) scale(1);
      filter: none;
    }
    80% {
      transform: translate(-50%, -50%) scale(1.1);
      filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
        hue-rotate(236deg) brightness(104%) contrast(103%);
    }
    90% {
      transform: translate(-50%, -50%) scale(1);
      filter: none;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.25);
      filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
        hue-rotate(236deg) brightness(104%) contrast(103%);
    }
  }
}
