#minecraft-header {
  display: block;
  height: 14vh;
  min-height: 60px;
  visibility: visible;
}

#minecraft-nav {
  position: fixed;
  width: 100%;
  height: 14vh;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
  background-image: url("../../../../../../../assets/themes/games/minecraft/backgrounds/nav-bar/minecraft-bg-nav-bar.webp");
  background-color: #002e0f;
  background-position: center -120px;
  background-size: auto 800px;

}

@media (max-width: 820px) {
  #minecraft-nav {
    #logo-span {
      transform: translate(0%, 45%) rotate(0deg);

      span {
        font-size: medium;
      }
    }
  }
}

@media (max-height: 450px) {
  #minecraft-nav {
    #logo-span {
      span {
        font-size: small;
      }
    }
  }
}
