@if (data.dialogType === "Themes") {
  <div id="main">
    <div class="bottom-corners"></div>
    <h2 mat-dialog-title>{{ "DIALOG-THEMES.CHANGE-THEME" | translate }}</h2>
    <mat-dialog-content>
      <mat-accordion class="accordion" multi>
        <mat-expansion-panel class="expansion-panel" (click)="playClickSound()">
          <mat-expansion-panel-header>
            <div [class]="actualTheme.type === 'Games' ? 'selected' : ''"></div>
            <mat-panel-title>
              {{ "DIALOG-THEMES.VIDEO-GAMES" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-tw3-dialog-games></app-tw3-dialog-games>
        </mat-expansion-panel>
        <div></div>
        <mat-expansion-panel class="expansion-panel" (click)="playClickSound()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "DIALOG-THEMES.COLORS" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-tw3-dialog-colors></app-tw3-dialog-colors>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-dialog-content>

    <mat-dialog-actions class="tw3-dialog-actions">
      <div class="tw3-dialog-actions-border">
        <div class="tw3-dialog-actions-button-container">
          <button
            class="tw3-dialog-actions-button"
            mat-button
            mat-dialog-close
            cdkFocusInitial
            (click)="playClickSound()"
          >
            {{ "DIALOG-THEMES.CLOSE" | translate }}
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
} @else if (data.dialogType === "Langs") {
  <div id="main">
    <div class="bottom-corners"></div>
    <h2 mat-dialog-title>{{ "DIALOG-LANGS.CHANGE-LANG" | translate }}</h2>
    <mat-dialog-content>
      <mat-accordion class="accordion" multi>
        <mat-expansion-panel class="expansion-panel" (click)="playClickSound()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "DIALOG-LANGS.LANGUAGES" | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ "DIALOG-LANGS.DESCRIPTION" | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-tw3-dialog-langs></app-tw3-dialog-langs>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-dialog-content>

    <mat-dialog-actions class="tw3-dialog-actions">
      <div class="tw3-dialog-actions-border">
        <div class="tw3-dialog-actions-button-container">
          <button
            class="tw3-dialog-actions-button"
            mat-button
            mat-dialog-close
            cdkFocusInitial
            (click)="playClickSound()"
          >
            {{ "DIALOG-LANGS.CLOSE" | translate }}
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
} @else if (data.dialogType === "HomeOptions") {
  <div id="main-home-options">
    <mat-dialog-content id="tw3-dialog-options-container">
      <div id="top-bar-container">
        <div id="weight-and-money">
          <div class="left-container">
            <span>7 / 60</span>
            <img
              src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/tw3-weight-icon.webp"
              alt=""
            />
          </div>
          <div class="left-container">
            <span>3</span>
            <img
              src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/tw3-money-icon.webp"
              alt=""
            />
          </div>
        </div>
        <div id="level-xp-and-close">
          <span id="level-word">{{
            "THEMES.GAMES.THE WITCHER 3.DIALOG-HOME.LEVEL" | translate
          }}</span>
          <div id="level-and-xp-bar-container">
            <span id="level-number">1</span>
            <div id="xp-bar-container"><div id="xp-bar"></div></div>
            <span id="xp-number">652/1000</span>
          </div>
          <button
            id="close-menu-button"
            mat-dialog-close
            (click)="playClickSound()"
          >
            <span>X</span>
          </button>
        </div>
      </div>
      @if (currentOptionsMenu() === "options") {
        <button
          class="special-buttons"
          (click)="openTypeOfOptionsMenu('themes')"
        >
          <img
            class="button-bg"
            src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-buttons-bg.webp"
            alt=""
          />
          <div class="button-content">
            <img
              class="icon-monochrome-without-colored-icon"
              src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/tw3-medallion-icon.webp"
              alt=""
            />
            <span>{{ "UPPERCASE.THEMES" | translate }}</span>
          </div>
        </button>
        <button
          class="special-buttons"
          (click)="openTypeOfOptionsMenu('langs')"
        >
          <img
            class="button-bg"
            src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-buttons-bg.webp"
            alt=""
          />
          <div class="button-content">
            <img
              class="icon-monochrome-without-colored-icon"
              src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/tw3-langs-icon.webp"
              alt=""
            />
            <span>{{ "UPPERCASE.LANGS" | translate }}</span>
          </div>
        </button>
      } @else if (currentOptionsMenu() === "themes") {
        @for (typeOfThemes of themesTypes; track $index) {
          <button
            class="special-buttons"
            (click)="
              typeOfThemes === 'Games'
                ? openTypeOfOptionsMenu('gameThemes')
                : openTypeOfOptionsMenu('colorThemes')
            "
          >
            <img
              class="button-bg"
              src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-buttons-bg.webp"
              alt=""
            />
            <div class="button-content">
              <img
                class="icon-monochrome-without-colored-icon"
                src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-{{
                  typeOfThemes.toLowerCase()
                }}.webp"
                alt=""
              />
              <span>{{
                "DIALOG-THEMES." + typeOfThemes.toUpperCase() | translate
              }}</span>
            </div>
          </button>
        }
      } @else if (currentOptionsMenu() === "gameThemes") {
        @for (gameOption of gamesOptions; track $index) {
          <button class="special-buttons" (click)="changeThemes(gameOption)">
            <img
              class="button-bg"
              src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-buttons-bg.webp"
              alt=""
            />
            <div class="button-content">
              <img
                class="icon-colored"
                src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/games/tw3-{{
                  gameOption.name
                    .toLowerCase()
                    .replaceAll(' ', '-')
                    .replaceAll(':', '')
                }}-colored.webp"
                alt=""
              />
              <img
                class="icon-monochrome"
                src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/games/tw3-{{
                  gameOption.name
                    .toLowerCase()
                    .replaceAll(' ', '-')
                    .replaceAll(':', '')
                }}.webp"
                alt=""
              />
              <span>{{ "THEMES.Games." + gameOption.name | translate }}</span>
            </div>
          </button>
        }
      } @else if (currentOptionsMenu() === "colorThemes") {
        @for (colorOption of colorsOptions; track $index) {
          <button class="special-buttons" (click)="changeThemes(colorOption)">
            <img
              class="button-bg"
              src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-buttons-bg.webp"
              alt=""
            />
            <div class="button-content">
              <div
                [class]="'color-option ' + colorOption.name.toLowerCase()"
              ></div>
              <span>{{ "THEMES.Colors." + colorOption.name | translate }}</span>
            </div>
          </button>
        }
      } @else if (currentOptionsMenu() === "langs") {
        @for (langOption of allLangs; track $index) {
          <button class="special-buttons" (click)="changeLang(langOption)">
            <img
              class="button-bg"
              src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-buttons-bg.webp"
              alt=""
            />
            <div class="button-content">
              <img
                class="icon-colored"
                src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/flags/tw3-flag-{{
                  langOption
                }}-colored.webp"
                alt=""
              />
              <img
                class="icon-monochrome"
                src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/flags/tw3-flag-{{
                  langOption
                }}.webp"
                alt=""
              />
              <span>{{ langOption }}</span>
            </div>
          </button>
        }
      }
    </mat-dialog-content>

    <mat-dialog-actions class="tw3-dialog-actions">
      <div class="tw3-dialog-actions-border">
        <div class="tw3-dialog-actions-button-container">
          <button
            class="tw3-dialog-actions-button"
            mat-button
            cdkFocusInitial
            (click)="
              currentOptionsMenu() === 'options'
                ? closeAllDialogs()
                : openTypeOfOptionsMenu('options')
            "
          >
            {{
              "THEMES.GAMES.THE WITCHER 3.DIALOG-HOME." +
                (currentOptionsMenu() === "options" ? "CLOSE" : "GO-BACK")
                | translate
            }}
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
} @else if (data.dialogType === "HomeNavigate") {
  <div id="main-home-navigate">
    <mat-dialog-content id="tw3-dialog-navigate-container">
      <div id="top-bar-container">
        <div id="weight-and-money">
          <div class="left-container">
            <span>7 / 60</span>
            <img
              src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/tw3-weight-icon.webp"
              alt=""
            />
          </div>
          <div class="left-container">
            <span>3</span>
            <img
              src="../../../../../../assets/themes/games/the witcher 3/buttons/icons/tw3-money-icon.webp"
              alt=""
            />
          </div>
        </div>
        <div id="level-xp-and-close">
          <span id="level-word">{{
            "THEMES.GAMES.THE WITCHER 3.DIALOG-HOME.LEVEL" | translate
          }}</span>
          <div id="level-and-xp-bar-container">
            <span id="level-number">1</span>
            <div id="xp-bar-container"><div id="xp-bar"></div></div>
            <span id="xp-number">652/1000</span>
          </div>
          <button
            id="close-menu-button"
            mat-dialog-close
            (click)="playClickSound()"
          >
            <span>X</span>
          </button>
        </div>
      </div>
      <app-tw3-dialog-navigate></app-tw3-dialog-navigate>
    </mat-dialog-content>

    <mat-dialog-actions class="tw3-dialog-actions">
      <div class="tw3-dialog-actions-border">
        <div class="tw3-dialog-actions-button-container">
          <button
            class="tw3-dialog-actions-button"
            mat-button
            mat-dialog-close
            cdkFocusInitial
            (click)="playClickSound()"
          >
            {{ "THEMES.GAMES.THE WITCHER 3.DIALOG-HOME.CLOSE" | translate }}
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
}
