<header>
  <section id="main-menu">
    <div id="menu-logo">
      <app-logo-effects logoName="menu-logo"></app-logo-effects>
      <div id="game-version">v 1.0</div>
    </div>
    <div id="action-buttons">
      <button (click)="playClickSound()">
        <div class="bottom-corners"></div>
        <span>NAVEGAR</span></button
      ><button (click)="openOptionsDialog()">
        <div class="bottom-corners"></div>
        <span>OPÇÕES</span></button
      ><button (click)="exitGame()">
        <div class="bottom-corners"></div>
        <span>SAIR DO JOGO</span>
      </button>
    </div>
    <div id="menu-footer">
      <button (click)="playClickSound()">
        <span class="badge-span">EXPANSION PACK</span>
        <span class="badge-span-title"
          >HEARTS<span class="connector">OF</span>STONE</span
        >
        <img
          src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-blue-badge.webp"
          alt=""
        />
      </button>
      <button (click)="playClickSound()">
        <span class="badge-span">EXPANSION PACK</span>
        <span class="badge-span-title"
          >BLOOD<span class="connector connector--red">AND</span>WINE</span
        >
        <img
          src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-red-badge.webp"
          alt=""
        />
      </button>
    </div>
  </section>
</header>
