<header>
  <section id="main-menu">
    <div id="menu-logo">
      <app-logo-effects logoName="menu-logo"></app-logo-effects>
      <div id="game-version">v 1.0</div>
    </div>
    <div id="action-buttons">
      <button (click)="playClickSound()">
        <span>NAVEGAR</span></button
      ><button (click)="playClickSound()">
        <span>OPÇÕES</span></button
      ><button (click)="playClickSound()">
        <span>SAIR DO JOGO</span>
      </button>
    </div>
    <div id="menu-footer">
      <button (click)="playClickSound()">
        <img
          src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-blue-badge.webp"
          alt=""
        />
      </button>
      <button (click)="playClickSound()">
        <img
          src="../../../../../../assets/themes/games/the witcher 3/buttons/tw3-red-badge.webp"
          alt=""
        />
      </button>
    </div>
  </section>
</header>
