h3 {
  padding-bottom: 20px;
}
.mobile-theme-menu-mat-list-item {
  span {
    transform: translate(10%, 40%);
  }
}
.mobile-theme-menu-mat-list-item:hover {
  background-color: rgba(128, 128, 128, 0.151);
}
