#intro-section-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .navigation-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 250px;

    .navigation-card-actions {
      align-self: center;
      padding-bottom: 16px;
    }
  }
}

#navigation-cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 250px;
  width: 100%;
}
