<div id="navigation-cards-wrapper">
  @if(showNavigationCards) {
  <section id="intro-section-navigation" @fadeInDownToUp_fadeOutUpToDown_enter>
    <mat-card appearance="outlined" class="navigation-card">
      <mat-card-header>
        <mat-card-title>{{
          "INTRO-PAGE.NAVCARDS-ABOUT" | translate
        }}</mat-card-title>
        <mat-card-subtitle>{{
          "INTRO-PAGE.NAVCARDS-LEARN-ABOUT" | translate
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="navigation-card-actions">
        <button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          mat-flat-button
          [routerLink]="['/about-me']"
        >
          {{ "INTRO-PAGE.NAVCARDS-KNOW-MORE" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined" class="navigation-card">
      <mat-card-header>
        <mat-card-title>{{
          "INTRO-PAGE.NAVCARDS-PROJECTS" | translate
        }}</mat-card-title>
        <mat-card-subtitle>{{
          "INTRO-PAGE.NAVCARDS-CHECK-PROJECS" | translate
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="navigation-card-actions">
        <button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          mat-flat-button
          [routerLink]="['/projects']"
        >
          {{ "INTRO-PAGE.NAVCARDS-SEE-PROJECTS" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined" class="navigation-card">
      <mat-card-header>
        <mat-card-title>{{
          "INTRO-PAGE.NAVCARDS-CONTACT" | translate
        }}</mat-card-title>
        <mat-card-subtitle>{{
          "INTRO-PAGE.NAVCARDS-SEND-MESSAGE" | translate
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="navigation-card-actions">
        <button
          (click)="playClickSound(getNameOfActualThemeFromLocalStorage.name)"
          mat-flat-button
          [routerLink]="['/contact-me']"
        >
          {{ "INTRO-PAGE.NAVCARDS-SEE-CONTACTS" | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
  }
</div>
