<mat-nav-list>
  <h3>
    {{
      getNameOfActualThemeFromLocalStorage().name
        ? "Actual Theme: " + getNameOfActualThemeFromLocalStorage().name
        : "Choose a theme"
    }}
  </h3>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="height: 70px">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage() === 'Seasons' ? 'ON' : ''
            "
            matBadgeOverlap="false"
          >
            Seasons
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (seasonOption of seasonsOptions; track $index) {
        <mat-list-item
          class="mobile-theme-menu-mat-list-item"
          (click)="changeTheme(seasonOption)"
        >
          <span
            [matBadge]="
              getNameOfActualThemeFromLocalStorage().name === seasonOption.name
                ? 'Selected'
                : ''
            "
            matBadgeOverlap="false"
            >{{ seasonOption.name }}</span
          >
        </mat-list-item>
        <mat-divider style="width: 97%; align-self: center"></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="height: 70px">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage() === 'Games' ? 'ON' : ''
            "
            matBadgeOverlap="false"
          >
            Video Games
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (gameOption of gamesOptions; track $index) {
        <mat-list-item
          class="mobile-theme-menu-mat-list-item"
          (click)="changeTheme(gameOption)"
        >
          <span
            [matBadge]="
              getNameOfActualThemeFromLocalStorage().name === gameOption.name
                ? 'Selected'
                : ''
            "
            matBadgeOverlap="false"
            >{{ gameOption.name }}</span
          >
        </mat-list-item>
        <mat-divider style="width: 97%; align-self: center"></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="height: 70px">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage() === 'Colors' ? 'ON' : ''
            "
            matBadgeOverlap="false"
          >
            Colors
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (colorOption of colorsOptions; track $index) {
        <mat-list-item
          class="mobile-theme-menu-mat-list-item"
          (click)="changeTheme(colorOption)"
        >
          <span
            [matBadge]="
              getNameOfActualThemeFromLocalStorage().name === colorOption.name
                ? 'Selected'
                : ''
            "
            matBadgeOverlap="false"
            >{{ colorOption.name }}</span
          >
        </mat-list-item>
        <mat-divider style="width: 97%; align-self: center"></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
