<mat-nav-list>
  <h3>
    {{
      getNameOfActualThemeFromLocalStorage.name
        ? ("NAV-MOBILE.ACTUAL-THEME" | translate) + (actualThemeKey | translate)
        : ("NAV-MOBILE.CHOOSE-THEME" | translate)
    }}
  </h3>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="height: 70px">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage === 'Seasons' ? 'ON' : ''
            "
            matBadgeOverlap="false"
          >
            {{ "NAV-MOBILE.MENU-SEASONS" | translate }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (seasonOption of seasonsOptions; track $index) {
        <mat-list-item class="mobile-theme-menu-mat-list-item">
          <button
            mat-button
            style="border-radius: 7px; width: 100%"
            (click)="
              changeTheme(seasonOption);
              playClickSound(getNameOfActualThemeFromLocalStorage.name)
            "
          >
            <span
              [matBadge]="
                getNameOfActualThemeFromLocalStorage.name === seasonOption.name
                  ? 'Selected'
                  : ''
              "
              matBadgeOverlap="false"
              >{{ "THEMES.Seasons." + seasonOption.name | translate }}</span
            >
          </button>
        </mat-list-item>
        <mat-divider style="width: 97%; align-self: center"></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="height: 70px">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage === 'Games' ? 'ON' : ''
            "
            matBadgeOverlap="false"
          >
            {{ "NAV-MOBILE.MENU-GAMES" | translate }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (gameOption of gamesOptions; track $index) {
        <mat-list-item class="mobile-theme-menu-mat-list-item"
          ><button
            mat-button
            style="border-radius: 7px; width: 100%"
            (click)="
              changeTheme(gameOption);
              playClickSound(getNameOfActualThemeFromLocalStorage.name)
            "
          >
            <span
              [matBadge]="
                getNameOfActualThemeFromLocalStorage.name === gameOption.name
                  ? 'Selected'
                  : ''
              "
              matBadgeOverlap="false"
              >{{ gameOption.name }}
            </span>
          </button>
        </mat-list-item>
        <mat-divider style="width: 97%; align-self: center"></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="height: 70px">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage === 'Colors' ? 'ON' : ''
            "
            matBadgeOverlap="false"
          >
            {{ "NAV-MOBILE.MENU-COLORS" | translate }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (colorOption of colorsOptions; track $index) {
        <mat-list-item class="mobile-theme-menu-mat-list-item"
          ><button
            mat-button
            style="border-radius: 7px; width: 100%"
            (click)="
              changeTheme(colorOption);
              playClickSound(getNameOfActualThemeFromLocalStorage.name)
            "
          >
            <span
              [matBadge]="
                getNameOfActualThemeFromLocalStorage.name === colorOption.name
                  ? ('NAV-MOBILE.SELECTED' | translate)
                  : ''
              "
              matBadgeOverlap="false"
              >{{ "THEMES.Colors." + colorOption.name | translate }}</span
            >
          </button>
        </mat-list-item>
        <mat-divider style="width: 97%; align-self: center"></mat-divider>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
