.langs-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 12px;
  font-size: 1.2rem;
}
@media (min-width: 820px) {
  .langs-radio-group {
    .radio-button {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 420px) {
  .langs-radio-group {
    .radio-button {
      font-size: 0.8rem;
    }
  }
}
