@use "@angular/material" as mat;
@use "./angular-colors-and-fonts/theme-cosmic-colors" as theme-cosmic-colors;

// Theme: cosmic-theme
body.cosmic-theme {
  --background-color: #500073;
  color: #eee9c8;
  #navBar {
    background-color: #2a004e;
    color: #ececec;
  }

  @include mat.theme(
    (
      color: (
        primary: theme-cosmic-colors.$primary-palette,
        tertiary: theme-cosmic-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
