@use "@angular/material" as mat;
@use "./angular-colors-and-fonts/theme-dark-colors" as theme-dark-colors;

// Theme: dark-theme
body.dark-theme {
  --background-color: #393e46;
  color: #ffffff;
  #navBar {
    background-color: #222831;
    #navBar-container {
      #navBar-list {
        .navBar-list-item {
          color: #bcbfc7;
        }
      }
    }
  }

  @include mat.theme(
    (
      color: (
        primary: theme-dark-colors.$primary-palette,
        tertiary: theme-dark-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
