<div id="navBar-custom-logo">
  <img
    (click)="playEffect(actualTheme)"
    [matTooltip]="'NAV-BAR-LIST.MAT-TOOL-TIP-EASTER-EGG' | translate"
    [src]="
      '../../../../assets/themes/' +
      actualTheme.type.toLowerCase() +
      '/' +
      actualTheme.name.toLowerCase() +
      '/logo' +
      '/logo-' +
      actualTheme.name.toLowerCase() +
      '.webp'
    "
    alt="It's a personality logo that says Felpex"
  />
</div>

@switch (actualTheme.name) { @case ("Minecraft") {
<app-minecraft #minecraftEffect></app-minecraft>
} @case ("The Witcher 3") {
<app-the-witcher-3 #tw3Effect></app-the-witcher-3>
} }
