#soundboard {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 70%;
  right: 0;
  width: 250px;
  height: auto;
  background-color: aqua;

  #sfx-slider-container,
  #music-slider-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #sfx-slider,
  #music-slider {
    margin-left: 30px;
  }

  #music-slider-container {
    #music-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      #music-slider-bg {
        position: absolute;
        height: 30px;
        width: calc(100% + 23px);
        background-color: antiquewhite;
      }
    }
  }

  #sfx-slider-container {
    #sfx-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      #sfx-slider-bg {
        position: absolute;
        height: 30px;
        width: calc(100% + 23px);
        background-color: antiquewhite;
      }
    }
  }
}
