#soundboard {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: auto;
  box-shadow: 0px 0px 10px black;
  border-radius: 8px;
  padding: 15px;
  z-index: 10;

  .sub-title {
    padding-top: 15px;
    padding-left: 15px;
    align-self: flex-start;
  }

  #sfx-slider-container,
  #music-slider-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #sfx-slider,
  #music-slider {
    margin-left: 30px;
  }

  #music-slider-container {
    #music-slider {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .slider-bg {
    position: absolute;
    height: 30px;
    width: calc(100% + 23px);
    box-shadow: 0px 0px 10px black;
  }

  #sfx-slider-container {
    #sfx-slider {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
