#not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 7em);
  flex-direction: column;
  padding: 20px;

  #not-found-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    #title-404 {
      opacity: 0.5;
      font-size: 8rem;
      margin: 0;
    }
    #texts {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 40px;
    }
  }
}
