<mat-card class="project-card" appearance="outlined">
  <div
    class="project-card-img-container"
    (mouseenter)="showOverlay()"
    (mouseleave)="hideOverlay()"
  >
    <app-overlay-projects
      [isOverlayVisible]="isOverlayVisible"
      [project]="project"
    ></app-overlay-projects>

    <img
      mat-card-image
      [src]="project.imgURL"
      [alt]="'PROJECTS-PAGE.' + project.imgAlt | translate"
    />
  </div>
  <mat-card-content class="project-card-content">
    <mat-card-title
      ><a [href]="project.siteURL" target="_blank">
        {{ project.name }}</a
      ></mat-card-title
    >
    <p>
      {{ "PROJECTS-PAGE." + project.description | translate }}
    </p>
  </mat-card-content>
  <mat-chip-set
    class="project-card-hardSkills-container"
    aria-label="Hard skills of the project."
  >
    @for (hardSkill of project.hardSkills; track $index) {
      <mat-chip class="project-card-hardSkills-chips">
        <mat-icon
          matChipAvatar
          [svgIcon]="project.hardSkillsIcons[$index]"
        ></mat-icon>

        {{ hardSkill }}
      </mat-chip>
    }
  </mat-chip-set>
  <mat-divider></mat-divider>
  <mat-card-actions class="project-card-buttons">
    <button
      (click)="playClickSound(actualTheme.name); goToProject(project.siteURL)"
      mat-icon-button
      [attr.aria-label]="'PROJECTS-PAGE.GITHUB-ICON-ALT' | translate"
    >
      <mat-icon
        svgIcon="icon-github"
        [attr.aria-label]="'PROJECTS-PAGE.GITHUB-ICON-ALT' | translate"
      ></mat-icon>
    </button>
    <button
      (click)="playClickSound(actualTheme.name); goToProject(project.siteURL)"
      mat-icon-button
      [attr.aria-label]="'PROJECTS-PAGE.ANCHOR-ICON-ALT' | translate"
    >
      <mat-icon
        style="font-family: &quot;Material Icons&quot;"
        [attr.aria-label]="'PROJECTS-PAGE.ANCHOR-ICON-ALT' | translate"
        >open_in_new</mat-icon
      >
    </button>
  </mat-card-actions>
</mat-card>
