<mat-toolbar id="navBar">
  <div id="navBar-container">
    <div id="navBar-logoAndButton">
      <div id="navBar-menuButton">
        <button
          mat-mini-fab
          aria-label="Button to show the menu"
          (click)="toggleMobileMenu()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!-- change the "Felpex" when start to working on the themes -->
      <h1 id="navBar-logo" [routerLink]="['/home']">Felpex</h1>
    </div>

    <mat-list id="navBar-list">
      <a [routerLink]="['/home']">
        <mat-list-item class="navBar-list-item">{{
          "NAV-HOME" | translate
        }}</mat-list-item></a
      >
      <a [routerLink]="['/about-me']">
        <mat-list-item class="navBar-list-item">{{
          "NAV-ABOUT" | translate
        }}</mat-list-item></a
      >
      <a [routerLink]="['/projects']">
        <mat-list-item class="navBar-list-item">{{
          "NAV-PROJECTS" | translate
        }}</mat-list-item></a
      >
      <a [routerLink]="['/contact-me']">
        <mat-list-item class="navBar-list-item">{{
          "NAV-CONTACT" | translate
        }}</mat-list-item></a
      >
      <mat-list-item class="navBar-list-item"
        ><button
          [matMenuTriggerFor]="theme"
          mat-button
          aria-label="Button that open a menu to change the theme of the page"
        >
          {{ "NAV-THEME" | translate }}:
          {{ getNameOfActualThemeFromLocalStorage().name | translate }}
        </button></mat-list-item
      >

      <mat-list-item class="navBar-list-item"
        ><button
          mat-icon-button
          aria-label="Button that can be used to change language"
          (click)="changeLanguage()"
        >
          <mat-icon>translate</mat-icon>
        </button></mat-list-item
      >

      <mat-menu #theme="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="color" class="expandMatMenu">
          <span
            [matBadge]="
              getTypeOfActualThemeFromLocalStorage() === 'Colors' ? 'ON' : ''
            "
            matBadgeOverlap="false"
            >{{ "NAV-MENU-COLORS" | translate }}</span
          >
        </button>
      </mat-menu>

      <mat-menu #color="matMenu">
        @for (colorOption of colorsOptions; track $index) {
        <button
          class="expandMatMenu"
          mat-menu-item
          (click)="changeTheme(colorOption)"
          [class]="{
            expandMatMenu:
              getNameOfActualThemeFromLocalStorage().name === colorOption.name
          }"
        >
          <span
            [matBadge]="
              getNameOfActualThemeFromLocalStorage().name === colorOption.name
                ? 'ON'
                : ''
            "
            matBadgeOverlap="false"
            >{{ colorOption.name | translate }}</span
          >
        </button>
        }
      </mat-menu>

      <app-social-links></app-social-links>
    </mat-list>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
