<mat-drawer-container id="mobileMenu-container" [hasBackdrop]="true" autosize>
  <mat-drawer
    #mobileNavMenu
    class="mobileMenu-sidenav"
    mode="over"
    position="start"
  >
    <mat-list>
      @if(actualTheme.type === 'Games' && actualTheme.name !== 'Minecraft') {
      <app-logo-effects
        (click)="closeNavMenu()"
        style="padding: 20px"
      ></app-logo-effects>
      }
      <mat-list-item [routerLink]="['/home']">{{
        "NAV-MOBILE.HOME" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item [routerLink]="['/about-me']">{{
        "NAV-MOBILE.ABOUT" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item [routerLink]="['/projects']">{{
        "NAV-MOBILE.PROJECTS" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item [routerLink]="['/contact-me']">{{
        "NAV-MOBILE.CONTACT" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item
        ><button
          style="border-radius: 7px; width: 100%"
          mat-button
          aria-label="Button to show the options of themes"
          (click)="openThemeMenu(); playClickSound(actualTheme.name)"
        >
          {{ "NAV-MOBILE.CHANGE-THEME" | translate }}
        </button>
      </mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item
        ><button
          (click)="openLangsMenu(); playClickSound(actualTheme.name)"
          style="border-radius: 7px; width: 100%"
          mat-button
          aria-label="Button that open a menu to change the lang of the page"
        >
          {{ "NAV-BAR-LIST.LANG" | translate }}
        </button></mat-list-item
      >
      <mat-divider></mat-divider>
      <footer class="mobileMenu-footer">
        <mat-divider></mat-divider>
        <app-social-links style="width: 150px"></app-social-links>
      </footer>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
