#mobileMenu-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100% - 14vh);
  max-height: calc(100% - 60px);
  z-index: 2;
  background-color: transparent;

  .mobileMenu-sidenav {
    position: relative;
    width: 65%;
    height: 100%;
    border-radius: 0px;

    mat-list {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .mobileMenu-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 12px;

      mat-divider {
        width: 100%;
      }
    }
  }
}
