<div id="map-container">
  <div id="map-hud">
    <div id="top-right-hud">
      <div class="hud-item right-title">
        <span> Lilás e groselia </span>
        <span class="exclamation-span">!</span>
      </div>
      <div class="hud-item right-subtitle">
        <img
          src="../../../../../../../../assets/themes/games/the witcher 3/buttons/icons/map/tw3-second-mission-icon.webp"
          alt="Second mission icon"
        />
        <span> Explore este mundo! </span>
        <img
          src="../../../../../../../../assets/themes/games/the witcher 3/buttons/icons/map/tw3-mission-icon.webp"
          alt="Mission icon"
        />
      </div>
    </div>
    <div id="bottom-left-hud">
      <div class="hud-item">
        <img
          src="../../../../../../../../assets/themes/games/the witcher 3/buttons/icons/map/tw3-fast-travel-icon.webp"
          alt="Travel icon"
        />
        <span> Placa de sinalização </span>
      </div>
      <div class="hud-item">
        <img
          src="../../../../../../../../assets/themes/games/the witcher 3/buttons/icons/map/tw3-mission-icon.webp"
          alt="Mission icon"
        />
        <span> Missão </span>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
