.mobileMenu-container {
  margin-top: 12.1vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: transparent;

  .mobileMenu-sidenav {
    width: 100%;
    border-radius: 0px;

    mat-list {
      display: flex;
      flex-direction: column;
      height: 90%;
    }
    .mobileMenu-footer {
      margin-top: auto;
      height: 100px;
      width: 100%;
      background-color: #222831;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
