<mat-drawer-container class="mobileMenu-container" autosize>
  <mat-drawer #mobileMenu class="mobileMenu-sidenav" mode="push">
    <mat-list>
      <mat-list-item [routerLink]="['/about-me']">About-me</mat-list-item>
      <mat-list-item [routerLink]="['/projects']">Projects</mat-list-item>
      <mat-list-item [routerLink]="['/contact-me']">Contact</mat-list-item>
      <mat-list-item
        ><button
          aria-label="Button to show the options of themes"
          (click)="openThemeMenu()"
        >
          Change Theme
        </button></mat-list-item
      >
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
