header {
  height: 12.1vh;
}

#tw3-nav {
  width: 100%;
  height: 12.1vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(5px);

  button {
    cursor: pointer;
  }

  #special-logo {
    display: block;
    filter: drop-shadow(0px 0px 5px black);
    flex: 2;
  }

  .mobile-buttons-container {
    display: none;

    button {
      .menuButton-icon {
        font-family: Material Icons;
      }
    }
  }

  #navigation-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 250px;
    min-width: 250px;

    .nav-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        padding-top: 25px;
        position: absolute;
        transition: 0.2s;
      }
      .arrow-icon {
        width: 20px;
        transition: 0.2s;
      }

      &:nth-of-type(2) {
        left: 10%;
      }
      &:nth-of-type(2) .arrow-icon {
        transform: rotate(180deg);
      }

      &:hover {
        .arrow-icon,
        span {
          filter: brightness(120%);
        }
      }
    }
  }

  #special-buttons-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 100%;

    .special-buttons {
      position: relative;
      height: 90%;
      width: 110px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;

      .button-bg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.3s;
        z-index: 0;
        pointer-events: none;
      }

      .button-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          transition: 0.3s;
          max-width: 40px;
          z-index: 1;
          filter: brightness(0) saturate(100%) invert(35%) sepia(4%)
            saturate(3460%) hue-rotate(338deg) brightness(100%) contrast(97%);
        }
        span {
          padding: 2px;
          transition: 0.3s;
          z-index: 1;
        }
      }

      &:hover {
        img {
          opacity: 1;
        }

        .button-content {
          img {
            filter: none;
          }
          span {
            color: #000;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  #tw3-nav {
    justify-content: space-evenly;
    .mobile-buttons-container {
      display: block;
      padding: 10px;
    }

    #special-logo {
      display: none;
    }

    #navigation-container {
      justify-content: space-evenly;
      h1 {
        font-size: x-large;
      }

      max-width: 250px;
      min-width: 140px;
    }

    #special-buttons-container {
      display: none;
    }
  }
}
