<header>
  <nav id="tw3-nav">
    <div id="navigation-container">
      <button class="nav-buttons">
        <img
          class="arrow-icon"
          src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-nav-button.webp"
          alt=""
        />
        <span>Projects</span>
      </button>
      <h1>{{ title }}</h1>
      <button class="nav-buttons">
        <img
          class="arrow-icon"
          src="../../../../../../assets/themes/games/the-witcher-3/buttons/tw3-nav-button.webp"
          alt=""
        />
        <span>Contact-me</span>
      </button>
    </div>
  </nav>
</header>
