// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "reset.scss";
@use "@angular/material" as mat;

@use "./app/themes/colors/styles/theme-dark" as theme-dark;
@use "./app/themes/colors/styles/theme-cosmic" as theme-cosmic;

@use "./app/themes/games/styles/theme-minecraft-colors" as
  theme-minecraft-colors;
@use "./app/themes/games/styles/theme-the-witcher-3-colors.scss" as
  theme-the-witcher-3-colors;
@use "./app/themes/styles/variables/variables" as var;

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/global/roboto-variableFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: var(--background-color);
}

// Theme: dark-theme
body.dark-theme {
  --background-color: #393e46;
  color: #ffffff;
  #navBar {
    background-color: #222831;
    #navBar-container {
      #navBar-list {
        .navBar-list-item {
          color: #bcbfc7;
        }
      }
    }
  }

  @include mat.theme(
    (
      color: (
        primary: theme-dark.$primary-palette,
        tertiary: theme-dark.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// Theme: light-theme
body.light-theme {
  --background-color: #ffffff;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// Theme: cosmic-theme
body.cosmic-theme {
  --background-color: #500073;
  color: #eee9c8;
  #navBar {
    background-color: #2a004e;
    color: #ececec;
  }

  @include mat.theme(
    (
      color: (
        primary: theme-cosmic.$primary-palette,
        tertiary: theme-cosmic.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// Theme: minecraft-theme
body.minecraft-theme {
  --background-color: #241e0e;
  background-image: url("./assets/themes/games/minecraft/backgrounds/minecraft-bg.webp");
  color: #eaeaea;
  text-shadow: 1px 1px 0px black;

  *,
  h1 {
    font-family: "Minecraft", sans-serif;
    text-shadow: 1px 1px 0px black;

    mat-card {
      background-image: url("./assets/themes/games/minecraft/backgrounds/minecraft-bg-card.webp");
      background-position: center bottom;
      background-size: auto 300px;
    }

    button {
      background-image: url("./assets/themes/games/minecraft/buttons/minecraft-buttons.webp");
      border-radius: 2px;
      border: 2px solid black;
      background-size: cover;
      box-shadow: 0px 0px 5px black;

      &:hover {
        border-color: white;
      }
    }
  }

  $top: 70%;
  .tnts-container {
    position: fixed;
    pointer-events: none;
    z-index: 0;

    .tnt-top,
    .tnt-front,
    .tnt-bottom {
      position: fixed;
      pointer-events: none;
      top: -10%;
      left: 50%;
      width: 80px;
      height: auto;
    }

    .tnt-front {
      animation: tnt-front-fall 1.2s ease forwards, tnt-scale 4s ease forwards;
      z-index: 9;

      @keyframes tnt-front-fall {
        0% {
          top: -10%;
        }
        100% {
          top: $top;
        }
      }
    }
    .tnt-top {
      animation: tnt-top-fall 1.2s ease forwards, tnt-scale 4s ease forwards;
      z-index: 8;

      @keyframes tnt-top-fall {
        0% {
          top: -10%;
          height: 0px;
        }
        100% {
          height: 16px;
          top: calc($top - 46px);
        }
      }
    }
    .tnt-bottom {
      z-index: 8;
      animation: tnt-bottom-fall 1.2s ease forwards, tnt-scale 4s ease forwards;

      @keyframes tnt-bottom-fall {
        0% {
          top: calc(-10% + 65px);
          height: 40px;
        }
        100% {
          height: 0px;
          top: $top;
        }
      }
    }

    @keyframes tnt-scale {
      0% {
        transform: translate(-50%, -50%) scale(1.1);
        filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
          hue-rotate(236deg) brightness(104%) contrast(103%);
      }
      10% {
        transform: translate(-50%, -50%) scale(1);
        filter: none;
      }
      20% {
        transform: translate(-50%, -50%) scale(1.1);
        filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
          hue-rotate(236deg) brightness(104%) contrast(103%);
      }
      30% {
        transform: translate(-50%, -50%) scale(1);
        filter: none;
      }
      40% {
        transform: translate(-50%, -50%) scale(1.1);
        filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
          hue-rotate(236deg) brightness(104%) contrast(103%);
      }
      50% {
        transform: translate(-50%, -50%) scale(1);
        filter: none;
      }
      60% {
        transform: translate(-50%, -50%) scale(1.1);
        filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
          hue-rotate(236deg) brightness(104%) contrast(103%);
      }
      70% {
        transform: translate(-50%, -50%) scale(1);
        filter: none;
      }
      80% {
        transform: translate(-50%, -50%) scale(1.1);
        filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
          hue-rotate(236deg) brightness(104%) contrast(103%);
      }
      90% {
        transform: translate(-50%, -50%) scale(1);
        filter: none;
      }
      100% {
        transform: translate(-50%, -50%) scale(1.25);
        filter: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(14%)
          hue-rotate(236deg) brightness(104%) contrast(103%);
      }
    }
  }

  #soundboard {
    #soundboard-bg {
      background-color: #002e0f;
      background-image: url("./assets/themes/games/minecraft/backgrounds/minecraft-bg-soundboard.webp");
      background-position: center center;
      background-size: auto 300px;
    }

    .slider-bg {
      border-radius: 5px;
      border: 2px ridge;
      background-color: rgb(78, 78, 78);
    }
  }

  @include mat.theme(
    (
      color: (
        primary: theme-minecraft-colors.$primary-palette,
        tertiary: theme-minecraft-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// Theme: the-witcher-3-theme
body.the-witcher-3-theme {
  $corner-size: 8px;
  --background-color: #1c1c1c;
  background-image: url("./assets/themes/games/the witcher 3/backgrounds/tw3-bg.webp");
  background-position: center;
  background-size: cover;
  color: #eaeaea;
  font-family: "The Witcher", sans-serif;

  .igni-bright-effect {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -50px;
    height: 120vh;
    width: 100vw;
    background: radial-gradient(
      circle,
      rgba(255, 21, 0, 1) 0%,
      rgba(255, 216, 110, 1) 50%,
      rgba(255, 21, 0, 0) 100%
    );
    opacity: 0;
    animation: igni 6.5s;
    pointer-events: none;

    @keyframes igni {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 0.1;
      }
      80% {
        opacity: 0.1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  #intro-section-navigation {
    .navigation-card {
      mat-card-subtitle {
        color: #b6783f;
      }
    }
  }
  mat-card {
    // background-image: url("./assets/themes/games/minecraft/backgrounds/minecraft-bg-card.webp");
    // background-position: center bottom;
    // background-size: auto 300px;
    border: thick double #45372e;
  }

  button {
    color: #96806f;
  }

  .photo-container {
    border: thick double #45372e !important;
    border-radius: 0px !important;

    .photo {
      border-radius: 0px !important;
    }
  }

  #photos-dialog-container {
    position: relative;
    border: thick double #45372e;
    $corner-size: 8px;

    // Corners top left and right
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: $corner-size;
      height: $corner-size;
      background-color: transparent;
      border: 2px solid #45372e;
    }
    &::before {
      top: -1px;
      left: -1px;
    }

    &::after {
      top: -1px;
      right: -1px;
    }

    // Corners bottom left and right
    .bottom-corners::before,
    .bottom-corners::after {
      content: "";
      position: absolute;
      width: $corner-size;
      height: $corner-size;
      background-color: transparent;
      border: 2px solid #45372e;
    }
    .bottom-corners::before {
      bottom: -1px;
      left: -1px;
    }
    .bottom-corners::after {
      bottom: -1px;
      right: -1px;
    }
  }

  #contact-me-container {
    border: thick double #45372e !important;
    border-radius: 0px !important;

    // Corners top left and right
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: $corner-size;
      height: $corner-size;
      background-color: transparent;
      border: 2px solid #45372e;
    }
    &::before {
      top: -1px;
      left: -1px;
    }

    &::after {
      top: -1px;
      right: -1px;
    }

    // Corners bottom left and right
    .bottom-corners::before,
    .bottom-corners::after {
      content: "";
      position: absolute;
      width: $corner-size;
      height: $corner-size;
      background-color: transparent;
      border: 2px solid #45372e;
    }
    .bottom-corners::before {
      bottom: -1px;
      left: -1px;
    }
    .bottom-corners::after {
      bottom: -1px;
      right: -1px;
    }
  }

  #soundboard {
    border: thick double #45372e;
    #soundboard-bg {
      background-color: #151515;
    }

    .slider-bg {
      border: 2px solid #574a41;
      background-color: rgb(43, 43, 43);
      box-shadow: 0px 0px 5px black;
    }
  }

  #mobileMenu-container,
  #mobileSoundboard-container {
    .mobileMenu-sidenav,
    .mobileSoundboard-sidenav {
      background-color: #1a1a1a;
      border-top: 4px solid #574a41;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 4px;
        height: 100%;
        z-index: 1;
      }

      &::before {
        left: 0;
        background: linear-gradient(to bottom, #574a41, rgba(0, 255, 255, 0));
      }

      &::after {
        right: 0;
        background: linear-gradient(
          to bottom,
          #574a41,
          rgba(0, 255, 255, 0) 90%
        );
      }
      mat-list {
        color: whitesmoke;

        mat-list-item {
          span {
            color: whitesmoke;
          }
          button {
            border-radius: 2px;
            color: #b6783f;
            background-color: #191718;
            color: whitesmoke;
          }
        }
      }

      #main-title,
      .sub-title,
      #music-title {
        color: whitesmoke;
      }
    }
  }

  #mobile-theme-bottom-sheet-container,
  #mobile-lang-bottom-sheet-container {
    color: whitesmoke;

    #mobile-theme-bottom-sheet,
    #mobile-lang-bottom-sheet {
      mat-expansion-panel {
        background-color: #1e1919 !important;
        color: whitesmoke !important;
        border: thick double #302f2e;

        mat-list {
          .mobile-theme-menu-mat-list-item,
          .mobile-lang-menu-mat-list-item {
            button {
              color: #b6783f !important;
            }
          }
        }
      }
    }
  }
  @include mat.theme(
    (
      color: (
        primary: theme-the-witcher-3-colors.$primary-palette,
        tertiary: theme-the-witcher-3-colors.$tertiary-palette,
      ),
      typography: The Witcher,
      density: 0,
    )
  );
  @include mat.dialog-overrides(
    (
      container-color: #0e0e0c,
      subhead-color: #d3cac1,
      container-shape: border-radius 0%,
    )
  );
  @include mat.expansion-overrides(
    (
      container-shape: border-radius 0%,
      container-background-color: #0e0e0c,
      header-text-color: #d1c8b9,
      header-hover-state-layer-color: #191917,
    )
  );
}
