::ng-deep canvas {
  pointer-events: none;
}

#bright-effect {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -50px;
  height: 120vh;
  width: 100vw;
  background: radial-gradient(
    circle,
    rgba(255, 21, 0, 1) 0%,
    rgba(255, 216, 110, 1) 50%,
    rgba(255, 21, 0, 0) 100%
  );
  animation: igni 6.5s;
  pointer-events: none;

  @keyframes igni {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0.1;
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }
}
