#intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 90px;

  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
  }

  #intro-section-button {
    margin-top: 20px;
    animation: 1s ease-in-out 1s infinite alternate float;

    @keyframes float {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.2);
      }
    }
  }
}
