#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  #intro-section-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    h1 {
      text-align: center;
      font-size: 36px;
      font-weight: 600;
    }

    h2 {
      text-align: center;
    }

    #intro-section-button {
      margin-top: 20px;
      animation: 1s ease-in-out 1s infinite alternate float;

      @keyframes float {
        from {
          transform: scale(1);
        }

        to {
          transform: scale(1.2);
        }
      }
    }
  }
}
