<main id="intro-section">
  <div
    id="intro-section-main"
    [@getDownToUp_getUptoDown]="showNavigationCards ? 'getUp' : 'getDown'"
  >
    <h1>
      {{ "INTRO-PAGE.HELLO" | translate }} 👋 <br />{{
        "INTRO-PAGE.I'M" | translate
      }}
      Felipe Costa
    </h1>
    <h2>{{ "INTRO-PAGE.I'M-A" | translate }}<span class="auto-type"></span></h2>
    <button
      id="intro-section-button"
      mat-icon-button
      aria-label="Button to leave you to next section of the page."
      (click)="toggleNavigationCards()"
    >
      <mat-icon class="intro-section-button-icon">keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <app-navigation-cards
    [showNavigationCards]="showNavigationCards"
  ></app-navigation-cards>
</main>
