<nav id="navBar">
  <div id="navBar-container">
    <div id="navBar-logoAndButton">
      <div id="navBar-menuButton">
        <button
          mat-mini-fab
          aria-label="Button to show the menu"
          (click)="toggleMobileMenu()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!-- change the "Felpex" when start to working on the themes -->
      <h1 id="navBar-logo">Felpex</h1>
    </div>

    <mat-list id="navBar-list">
      <mat-list-item [routerLink]="['/about-me']">About-me</mat-list-item>
      <mat-list-item [routerLink]="['/projects']">Projects</mat-list-item>
      <mat-list-item [routerLink]="['/contact-me']">Contact</mat-list-item>
      <mat-list-item>Change Theme</mat-list-item>
    </mat-list>
  </div>
</nav>
