$text-color: #09122c;

#navBar {
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.1em;

  #navBar-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    #navBar-logoAndButton {
      display: flex;
      justify-content: center;
      flex: 4;

      #navBar-logo {
        color: $text-color;
      }
      #navBar-menuButton {
        display: none;
      }
    }

    #navBar-list {
      display: flex;
      flex: 5;
      align-items: center;
      justify-content: space-evenly;

      li {
        color: $text-color;
        font-size: large;
      }
    }

    @media (max-width: 768px) {
      #navBar-logoAndButton {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          flex: 10;
          text-align: center;
          margin-right: 15%;
        }

        #navBar-menuButton {
          display: flex;
          justify-content: center;
          flex: 2;

          button {
            background-color: #222831;
            color: #eeeeee;
          }
        }
      }

      #navBar-list {
        display: none;
      }
    }
  }
}
#mobileMenu {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #09122c;
  z-index: 0;
}
