#navBar {
  width: 100vw;
  height: 16vh;
  display: flex;
  align-items: center;
  background-color: aqua;

  #navBar-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: aliceblue;

    #navBar-logoAndButton {
      display: flex;
      justify-content: center;
      flex: 4;
      background-color: red;

      #navBar-menuButton {
        display: none;
      }
    }

    #navBar-list {
      display: flex;
      flex: 5;
      align-items: center;
      justify-content: space-evenly;
      background-color: orange;
    }

    @media (max-width: 768px) {
      #navBar-logoAndButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;

        h1 {
          flex: 10;
          text-align: center;
          margin-right: 15%;
        }

        #navBar-menuButton {
          display: flex;
          justify-content: center;
          flex: 2;
        }
      }

      #navBar-list {
        display: none;
      }
    }
  }
}
