<mat-drawer-container class="mobileMenu-container" autosize>
  <mat-drawer #mobileMenu class="mobileMenu-sidenav" mode="push">
    <mat-list>
      <mat-list-item [routerLink]="['/home']">{{
        "NAV-MOBILE.HOME" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item [routerLink]="['/about-me']">{{
        "NAV-MOBILE.ABOUT" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item [routerLink]="['/projects']">{{
        "NAV-MOBILE.PROJECTS" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item [routerLink]="['/contact-me']">{{
        "NAV-MOBILE.CONTACT" | translate
      }}</mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item
        ><button
          style="border-radius: 7px; width: 100%"
          mat-button
          aria-label="Button to show the options of themes"
          (click)="openThemeMenu()"
        >
          {{ "NAV-MOBILE.CHANGE-THEME" | translate }}
        </button>
      </mat-list-item>
      <mat-divider style="width: 97%; align-self: center"></mat-divider>
      <mat-list-item
        ><button
          (click)="openLangsMenu()"
          style="border-radius: 7px; width: 100%"
          mat-button
          aria-label="Button that open a menu to change the lang of the page"
        >
          {{ "NAV-BAR-LIST.LANG" | translate }}
        </button></mat-list-item
      >
      <mat-divider></mat-divider>
      <footer class="mobileMenu-footer">
        <mat-divider></mat-divider>
        <app-social-links></app-social-links>
      </footer>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
