<app-header></app-header>
<main>
  <h1>Profile</h1>
  <h2>I'm a creative front end developer</h2>
  <section id="aboutMePage-main-content-container">
    <article class="content-container">
      <header><h3>About me</h3></header>
      <main>
        <p>
          I'm studying Science and Technology at the Federal University of Rio
          Grande do Norte, with an emphasis on Applied Computing, I have
          knowledge of the Angular framework in the most recent versions and
          libraries such as ReactJS
        </p>
      </main>
      <footer><app-social-links></app-social-links></footer>
    </article>
    <article class="content-container img">
      <header>Yeah, that's me!</header>
      <figure>
        <img
          src="../../../assets/images/me/eu.webp"
          alt="It's photo of my self, I have black hair, using blue glasses"
        />
      </figure>
      <figcaption>Photo taken in 2025</figcaption>
    </article>
    <article class="content-container details">
      <header><h3>Details</h3></header>
      <main>
        <div>
          <h4>Name and Age:</h4>
          <p>Felipe Costa da Silva, 22 years old</p>
        </div>
        <div>
          <h4>Location:</h4>
          <p>Natal, Rio Grande do Norte, Brazil, Earth</p>
        </div>
        <div>
          <h4>Hard skills:</h4>
          <p>Git, Github, HTML, CSS/SCSS, TS/JS, Angular, React.</p>
        </div>
        <div>
          <h4>Soft skills:</h4>
          <p>Communication, flexibility, organization, problem solving.</p>
        </div>
      </main>
    </article>
  </section>
</main>
