main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    word-wrap: break-word;
    text-align: center;
  }

  #aboutMePage-main-content-container {
    padding: 20px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      min-width: 150px;
      width: 20%;

      main {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        gap: 20px;
      }
      footer {
        margin-top: 20px;
      }
    }
    .content-container.img {
      align-items: center;
      img {
        margin: 10px 0px 10px 0px;
        border-radius: 50%;
        background-color: #222831;
        min-width: 150px;
        width: 300px;
      }
    }
  }
}
