<main id="aboutMePage-main">
  <section id="aboutMePage-main-content-container">
    <app-first-half
      [@fadeInUpToDown_loading]="isLoading ? 'loading' : 'loaded'"
      style="flex: 1"
    ></app-first-half>
    <app-second-half
      [@fadeInUpToDown_loading]="isLoading ? 'loading' : 'loaded'"
      style="flex: 1"
    ></app-second-half>
  </section>
  <mat-divider style="width: 90%"></mat-divider>
  @if(!isLoading) {
  <app-photos-footer style="width: 90%; margin-top: 10px"></app-photos-footer>
  }
</main>
