#aboutMePage-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;

  h2 {
    word-wrap: break-word;
    text-align: center;
  }

  #aboutMePage-main-content-container {
    min-width: 250px;
    width: 100%;
    max-width: 1220px;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  @media (max-width: 820px) {
    #aboutMePage-main-content-container {
      flex-direction: column;
    }
  }
}
